html {
    height: 100%;
}

body { 
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    font-family: 'Roboto', sans-serif;
    border-width: 30px;
    border-style: solid;
    border-color: white;
    background: #daded4;
    color: #3C403D;
    min-height: 100%;
}

a { text-decoration: none; color: #3C403D; }
a:hover { text-decoration: underline; }

p, ul { font-size: 1.3em; line-height: 1.4em; }

h1 { font-size: 3em; font-family: 'Alegreya Sans', sans-serif; }
h2 { font-size: 2.7em; font-family: 'Alegreya Sans', sans-serif; }
h3 { font-size: 2.3em; font-family: 'Alegreya Sans', sans-serif; }
h4 { font-size: 1.9em; font-family: 'Alegreya Sans', sans-serif; }

nav ul, footer ul { font-size: .95em; padding: 0px; list-style: none; }
nav ul li, footer ul li { display: inline; margin-right: 20px; }

footer { 
    border-top: 5px solid #A3BCB6;
    font-size: .8em;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

/* Blog */
ul.posts { margin: 20px auto 40px; font-size: 1.5em; }
ul.posts li { list-style: none; }

/* CV */
.cv { margin: 0px 0px 60px; }
.cv h1 { font-size: 3em; }
.cv h2 { font-size: 2em; }
.cv h3 { font-size: 1.5em; }
/* .cv address, .cv .download { } */
.cv address, .cv p { font-size: 1.2em; }
.cv .download { float: right; font-size: .8em; text-transform: uppercase; }

.footer-link {
    border-style: solid;
    border-color: #3C403D;
    color: #3C403D;
    padding: 5px;
    border-width: 2px;
}

.footer-link:link, .footer-link:visited {
    text-decoration: none;
}
  
.footer-link:hover, .footer-link:active {
    background-color: #3C403D;
    color: white;
}

#footer-container {
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
}

#landing-content {
    margin-top: 40px;
    margin-bottom: 40px;
}